<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>
<script src="js/script.js"></script>
<body>
    <center>
        <h1>Files available on the server</h1>
    </center>
    <br>
    <div class="flexclass">
        <a href="home"><button class="btn">Refresh</button></a> &nbsp;&nbsp;&nbsp;
        <a href="upload" target="_blank"><button class="btn">Upload</button></a>
    </div>
    <br>
    <% data.forEach(element => { %>
    <div class="flexbox">
        <a href="download/<%=element%>" target="_blank">
            <h3><%= element %></h3>
        </a>
        
        <a href="home" onclick="onRemove('<%=element%>')">
            <button class="del_btn">Delete</button>
        </a>
        
    </div>
    <hr>
    <% }); %> 
</body>


</html>